@charset "UTF-8";

*{
    margin: 0px;
}

div#cor_de_fundo{
    padding: 10px;
    max-width: 199.5vh;
    min-width: 280px;
    height: 98vh;
    background-color: aqua;
}

h1{
    text-align: center;
    color: white;
    margin: 0px 0px 15px 0px;
}

p#horas_do_dia{
    text-align: center;
    font-weight: bold;
    border-radius: 10px;
}

div#cor_fundo_imagens{
    background-color: white;
    width: 100%;
    height: 400px;
    margin: auto;
    position: relative;
    border-radius: 10px;
    box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.486);
    max-width: 600px;
    min-width: 280px;
}

img#imagem_manha{
    border-radius: 100%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

img#imagem_tarde{
    border-radius: 100%;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

img#imagem_noite{
    border-radius: 100%;
    display: none;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}